// -----------
// COLORS
// -----------

$c-white: #fff;
$c-site-background: #edeff4;

// Main Colors
$c-main-blue: #209cbe;


// -----------
// DIMENSIONS
// -----------

$header-height: 60px;
$container-width: 1200px;
$gap: 10px;


// -----------
// OTHER VARIABLES
// -----------

$anim-time: 0.5s;
