<section class="clients">
    <div class="container">
        <h2>Наши любимые <span>клиенты</span></h2>
        <div class="clients-items">
            <div class="item">
                <div class="image"><img src="images/clients/1.jpg" alt=""/></div>
                <div class="title">ОАО «УльяновскМолПром»</div>
                <a href="http://www.logistikaprivolzhya.ru" target="_blank" rel="nofollow">www.logistikaprivolzhya.ru</a>
            </div>
            <div class="item">
                <div class="image"><img src="images/clients/2.jpg" alt=""/></div>
                <div class="title">ООО «Классический стиль»</div>
                <a href="http://www.dekor-ks.ru" target="_blank" rel="nofollow">www.dekor-ks.ru</a>
            </div>
            <div class="item">
                <div class="image"><img src="images/clients/3.jpg" alt=""/></div>
                <div class="title">ООО «АгроСервис – ИТ»</div>
                <a href="http://www.agros-it.ru" target="_blank" rel="nofollow">www.agros-it.ru</a>
            </div>
            <div class="item">
                <div class="image"><img src="images/clients/4.jpg" alt=""/></div>
                <div class="title">Magenta – Technology</div>
                <a href="http://www.magenta-technology.ru" target="_blank" rel="nofollow">www.magenta-technology.ru</a>
            </div>
            <div class="item">
                <div class="image"><img src="images/clients/5.jpg" alt=""/></div>
                <div class="title">ооО «Логистика приволжья»</div>
                <a href="http://www.logistikaprivolzhya.ru" target="_blank" rel="nofollow">www.logistikaprivolzhya.ru</a>
            </div>
            <div class="item">
                <div class="image"><img src="images/clients/6.jpg" alt=""/></div>
                <div class="title">ООО «ЭкоВолга»</div>
                <a href="http://www.ecovolga73.ru" target="_blank" rel="nofollow">www.ecovolga73.ru</a>
            </div>
            <div class="item">
                <div class="image"><img src="images/clients/7.jpg" alt=""/></div>
                <div class="title">ООО «ЛитМаш»</div>
                <a href="http://www.neftmash.com" target="_blank" rel="nofollow">www.neftmash.com</a>
            </div>
        </div>
    </div>
</section>