<section class="footer">
    <div class="container">
        <div class="footer-form-inner">
            <h2 class="animated fadeInLeft wow"><span>Остались вопросы?</span> <br/> наш менеджер ответит на них</h2>
            <form action="#" id="footer_form" class="animated fadeInLeft wow">
                <div class="row">
                    <div class="input-wrapper"><input name="name" data-caption="Имя:"  class="input input-customer required" type="text" placeholder="Ваше имя"/></div>
                    <div class="input-wrapper"><input name="phone" data-caption="Телефон:" class="input input-phone required" type="text" placeholder="Номер телефона"/></div>
                </div>
                <div class="buttons-wrapper">
                    <input class="button button-blue" type="submit" value="Оставить заявку"/>
                </div>
            </form>
            <div class="footer-inner">
                <a class="phone" href="tel:88002000278">8 800 20002 78</a>
                <div class="by"> Дизайн – <a href="http://mixplus.ru" target="_blank" rel="nofollow">Mixplus</a> </div>
            </div>
        </div>
    </div>
</section>