<section class="main-form">
    <div class="container">
        <div class="main-form-inner">
            <h2><span>Повысьте эффективность</span> ВАШЕГО БИЗНЕСА</h2>

            <form action="#">
                <div class="row">
                    <div class="input-wrapper"><input class="input input-customer" type="text" placeholder="Ваше имя"/></div>
                    <div class="input-wrapper"><input class="input input-phone" type="text" placeholder="Ваш телефон"/></div>
                </div>
                <div class="buttons-wrapper">
                    <input class="button button-blue" type="submit" value="Оставить заявку"/>
                </div>
            </form>
        </div>
    </div>
</section>