<section class="main-form">
    <div class="container">
        <div class="main-form-inner">
            <h2 class="animated slideInLeft wow"><span>Повысьте эффективность</span> ВАШЕГО БИЗНЕСА</h2>

            <form action="#" id="main_form" class="animated fadeIn wow">
                <div class="row">
                    <div class="input-wrapper"><input name="name" data-caption="Имя:" class="input input-customer required" type="text" placeholder="Ваше имя"/></div>
                    <div class="input-wrapper"><input name="phone" data-caption="Телефон:"  class="input input-phone required" type="text" placeholder="Ваш телефон"/></div>
                </div>
                <div class="buttons-wrapper">
                    <input class="button button-blue" type="submit" value="Оставить заявку"/>
                </div>
            </form>
        </div>
    </div>
</section>