<section class="main-client-problems">
    <div class="container">
        <h2><span>ОСНОВНЫЕ</span> ПРОБЛЕМЫ КЛИЕНТОВ</h2>

        <div class="problems">
            <div class="item animated slideInUp wow">
                <div class="image"><img src="images/content/1.png" alt=""/></div>
                <div class="title">Сомнительный результат</div>
                <div class="text">
                    Ваши менеджеры по продажам
                    могут работать, но результат
                    их работы сомнителен,
                    отследить его невозможно
                </div>
            </div>
            <div class="item animated slideInUp wow" data-wow-delay="0.5s">
                <div class="image"><img src="images/content/2.png" alt=""/></div>
                <div class="title">Замедляется рост</div>
                <div class="text">
                    Размер Вашей клиентской базы
                    не удовлетворяет Вашим желаниям
                </div>
            </div>
            <div class="item animated slideInUp wow" data-wow-delay="1s">
                <div class="image"><img src="images/content/3.png" alt=""/></div>
                <div class="title">Обучаемость персонала</div>
                <div class="text">
                    Долгий процесс обучения
                    менеджеров по продажам
                    приносит много траты времени
                    и средств, потери клиентов и прочее
                </div>
            </div>
            <div class="item animated slideInUp wow" data-wow-delay="1.5s">
                <div class="image"><img src="images/content/4.png" alt=""/></div>
                <div class="title">Недостаток средств</div>
                <div class="text">
                    У вас нет много средств
                    на рекламу и маркетинг
                </div>
            </div>
        </div>
    </div>
</section>