<div class="popup-back"></div>

<div class="popup recall-popup">
    <div class="close"></div>
    <div class="title"><span>Перезвоните</span> мне</div>
    <form action="#">
        <div class="row">
            <div class="input-wrapper"><input class="input input-customer" type="text" placeholder="Ваше имя"/></div>
        </div>
        <div class="row">
            <div class="input-wrapper"><input class="input input-phone" type="text" placeholder="Ваш телефон"/></div>
        </div>
        <div class="buttons-wrapper">
            <input class="button button-blue" type="submit" value="Отправить"/>
        </div>
    </form>
</div>

<div class="popup bid-popup">
    <div class="close"></div>
    <div class="title">Оставить <span>заявку</span></div>
    <form action="#">
        <input type="hidden" name="bid_theme" class="bid-theme"/>
        <div class="row">
            <div class="input-wrapper"><input class="input input-customer" type="text" placeholder="Ваше имя"/></div>
        </div>
        <div class="row">
            <div class="input-wrapper"><input class="input input-phone" type="text" placeholder="Ваш телефон"/></div>
        </div>
        <div class="row">
            <div class="input-wrapper"><input class="input input-email" type="text" placeholder="Электронная почта"/></div>
        </div>
        <div class="buttons-wrapper">
            <input class="button button-blue" type="submit" value="Отправить"/>
        </div>
    </form>
</div>