<section class="services">
    <div class="container">
        <h2 id="services_link"><span>Решения для Вашего бизнеса</span></h2>

        <div class="services-items">
            <div class="item animated slideInLeft wow">
                <div class="image">
                    <img src="images/content/5.png" alt=""/>
                </div>
                <div class="title">
                    <p>Холодные телефонные <br/> продажи</p>
                    <a class="button button-blue bid-button" data-theme="Телефонные продажи" href="#">Оставить заявку</a>
                </div>
            </div>
            <div class="item animated slideInRight wow">
                <div class="image">
                    <img src="images/content/6.png" alt=""/>
                </div>
                <div class="title">
                    <p>Обзвон Вашей  <br/> базы</p>
                    <a class="button button-blue bid-button" data-theme="Входящая линия" href="#">Оставить заявку</a>
                </div>
            </div>
            <div class="item animated slideInLeft wow">
                <div class="image">
                    <img src="images/content/7.png" alt=""/>
                </div>
                <div class="title">
                    <p>Аренда оператора <br/> call-центра</p>
                    <a class="button button-blue bid-button" data-theme="Маркетинговые исследования" href="#">Оставить заявку</a>
                </div>
            </div>
        </div>

        <h2 id="features_link">Преимущества нашего решения</h2>

        <div class="features-items">
            <div class="item">
                <div class="image"><img src="images/content/8.png" alt="" style="margin-right: -10px;"/></div>
                <div class="title">Самые низкие цены</div>
                <div class="text">по всей России</div>
            </div>
            <div class="item">
                <div class="image"><img src="images/content/9.png" alt="" style="margin-right: -20px;"/></div>
                <div class="title">Бесплатный консалтинг</div>
                <div class="text">на счет увеличение Ваших продаж</div>
            </div>
            <div class="item">
                <div class="image"><img src="images/content/10.png" alt=""/></div>
                <div class="title">Бесплатная подготовка к проекту</div>
                <div class="text">скрипт, базы данных Вам достаются в подарок!</div>
            </div>
            <div class="item">
                <div class="image"><img src="images/content/11.png" alt=""/></div>
                <div class="title">Цель нашей работы</div>
                <div class="text">работа за результат</div>
            </div>
            <!--<div class="item">
                <div class="image"><img src="images/content/12.png" alt=""/></div>
                <div class="title">Поддержка международных продаж</div>
                <div class="text">англоговорящие менеджеры к Вашим услугам!</div>
            </div>-->
        </div>
    </div>
</section>