<section class="team">
    <div class="container">
        <h2 id="team_link">Команда <span>OutSale</span></h2>

        <div class="team-items">
            <div class="item animated fadeInLeft wow">
                <div class="image">
                    <img class="img" src="images/team/1.jpg" alt=""/>
                    <img class="img-hover" src="images/team/1a.jpg" alt=""/>
                </div>
                <div class="name">Антон Козлов</div>
                <div class="post">Директор</div>
            </div>
            <div class="item animated fadeInLeft wow" data-wow-delay="0.5s">
                <div class="image">
                    <img class="img" src="images/team/2.jpg" alt=""/>
                    <img class="img-hover" src="images/team/2a.jpg" alt=""/>
                </div>
                <div class="name">Вячеслав Крыжановский</div>
                <div class="post">Отдел контроля качества</div>
            </div>
            <div class="item animated fadeInLeft wow" data-wow-delay="1s">
                <div class="image">
                    <img class="img" src="images/team/3.jpg" alt=""/>
                    <img class="img-hover" src="images/team/3a.jpg" alt=""/>
                </div>
                <div class="name">Иван Антюшин</div>
                <div class="post">Старший специалист call–центра</div>
            </div>
            <div class="item animated fadeInLeft wow" data-wow-delay="1.5s">
                <div class="image">
                    <img class="img" src="images/team/4.jpg" alt=""/>
                    <img class="img-hover" src="images/team/4a.jpg" alt=""/>
                </div>
                <div class="name">Юлия Мардовина</div>
                <div class="post">Специалист входящей линии</div>
            </div>
        </div>
    </div>
</section>