<section class="work-plan" id="work-plan">
    <div class="container">
        <h2 class="white-color">План нашей работы</h2>

        <div class="work-plan-items">

            <div class="item">
                <div class="image"><img src="images/content/13.jpg" alt=""/></div>
                <div class="content">
                    <div class="work-plan-icon wp-customer"></div>
                    <div class="title">КТО ПОКУПАТЕЛЬ?</div>
                    <div class="text">Проводим маркетиновые исследования</div>
                </div>
            </div>

            <div class="item">
                <div class="image"><img src="images/content/14.jpg" alt=""/></div>
                <div class="content">
                    <div class="work-plan-icon wp-question"></div>
                    <div class="title">Как Продать?</div>
                    <div class="text">Определяем эффективные способы воздействия на целевую аудиторию</div>
                </div>
            </div>

            <div class="item">
                <div class="image"><img src="images/content/15.jpg" alt=""/></div>
                <div class="content">
                    <div class="work-plan-icon wp-write"></div>
                    <div class="title">Составление договора</div>
                    <div class="text">Корректировка предложения под ваши планы</div>
                </div>
            </div>

            <div class="item">
                <div class="image"><img src="images/content/16.jpg" alt=""/></div>
                <div class="content">
                    <div class="work-plan-icon wp-talk"></div>
                    <div class="title">Реализуем!</div>
                    <br/>
                    <br/>
                    <a class="button bid-button" href="#">Оставить заявку</a>
                </div>
            </div>

        </div>
    </div>
</section>