.clients {
  .clients-items {
    font-size: 0;
    .item {
      display: inline-block;
      vertical-align: top;
      padding: 0 $gap $gap*3;
      @include breakpoint (xs) {
        width: 50%;
        text-align: center;
      }
      @include breakpoint (sm) {
        width: 25%;
      }
      .image {
        margin-bottom: $gap*2;
        img {
          max-width: 100%;
        }
      }
      .title {
        color: $c-main-text;
        font: 18px 'Ubuntu-Medium';
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      a {
        font: 14px 'Ubuntu';
      }
    }
  }
}