.main-form {
  background-image: url("../images/backs/4.jpg");
  padding-bottom: 190px;
  h2 {
    font: 60px 'GothamPro-Black';
  }
  .main-form-inner {
    @include breakpoint (md) {
      width: 80%;
    }
    @include breakpoint (lg) {
      width: 60%;
      padding-left: 6%;
    }
  }
}