.main-client-problems {
  .problems {
    font-size: 0;
    .item {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      padding-bottom: 35px;
      @include breakpoint (xs) {
        width: 100%;
      }
      @include breakpoint (sm) {
        width: 50%;
      }
      @include breakpoint (lg) {
        width: 25%;
        padding: $gap;
      }
      .image {
        margin-bottom: $gap*2;
        img {
          max-width: 100%;
        }
      }
      .title {
        font: 18px 'Ubuntu-Medium';
        text-transform: uppercase;
        margin-bottom: $gap;
      }
      .text {
        font: 14px 'Ubuntu';
      }
    }
  }
}