.main-client-problems {
  .problems {
    font-size: 0;
    .item {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      text-align: center;
      color: $c-main-text;
      padding: $gap;
      .image {
        margin-bottom: $gap*2;
        img {
          max-width: 100%;
        }
      }
      .title {
        font: 18px 'Ubuntu-Medium';
        text-transform: uppercase;
        margin-bottom: $gap;
      }
      .text {
        font: 14px 'Ubuntu';
      }
    }
  }
}