<header>
    <div class="container">
        <a class="logo" href="" title="Outsale"></a>
        <nav id="main_nav">
            <ul>
                <li class="active"><a href="#services_link">Услуги</a></li>
                <li><a href="#work-plan">План работы</a></li>
                <li><a href="#features_link">Преимущества</a></li>
                <!--<li><a href="#">Наша команда</a></li>-->
            </ul>
        </nav>
        <a class="phone" href="tel:88002000278">8 800 2000 278</a>
        <a class="button button-blue recall-button" href="#">Перезвоните мне</a>
    </div>
</header>