@import url(CSS:../../bower_components/normalize.css/normalize.css);
body {
  background: #edeff4;
  padding-top: 60px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
header .container {
  height: 100%;
}
header .container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .logo {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/logo.png) no-repeat;
  width: 207px;
  height: 46px;
}
