* {
  box-sizing: border-box;
}

body {
  background: $c-site-background;
  padding-top: $header-height;
  overflow-x: hidden;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $gap;
}

section {
  padding-top: 75px;
  padding-bottom: 75px;
  background-size: cover;
  h2 {
    text-align: center;
    font: 36px 'GothamPro-Bold';
    color: #141e32;
    margin: 0 0 $gap*4;
    text-transform: uppercase;
    &.white-color {
      color: $c-white;
    }
    span {
      color: $c-main-blue;
    }
  }
}