* {
  box-sizing: border-box;
}

body {
  background: $c-site-background;
  padding-top: $header-height;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  color: $c-main-text;
}

a {
  @include link-colors($c-link, lighten($c-link, 10%));
  &:hover {
    text-decoration: none;
  }
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $gap;
  position: relative;
  height: 100%;
}

section {
  padding-top: 75px;
  padding-bottom: 75px;
  background-size: cover;
  background: no-repeat center top;
  position: relative;
  h2 {
    text-align: center;
    font: 36px 'GothamPro-Bold';
    color: #141e32;
    margin: 0 0 $gap*4;
    text-transform: uppercase;
    &.white-color {
      color: $c-white;
    }
    span {
      color: $c-main-blue;
    }
  }
}